############################################
# Node / React (Frontend only)
############################################
node_modules/
dist/
.vite/

############################################
# Env files (secrets)
############################################
.env
.env.*
!.env.example
.env.dev

############################################
# Logs
############################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# OS
############################################
.DS_Store
Thumbs.db

############################################
# IDE
############################################
.vscode/
.idea/
*.iml
